<div>
  <h3>Bookmarks</h3>
    <li *ngFor="let bookmark of historyService.bookmarks"
    (click)="historyService.changeSelection(bookmark)"
    class="list-group-item list-group-item-info">
      {{bookmark}}
    </li>
</div>
