<div id="search-menu">
  <form (ngSubmit)="logForm()">
    <input type="text" id="input-txt" [(ngModel)]="tmpUrl"
    name="Url" placeholder="Choose your URL" class="form-control"/>
    <input type="submit" class="btn btn-primary"
    id="input-sub" value="Search"/>
  </form>
  <button (click)="historyService.addBookmarks()"
  class="btn btn-primary">Add bookmark</button>
</div>
