<h3>History</h3>
<div *ngIf="historyService.histories">
  <li *ngFor="let url of historyService.histories"
  (click)="historyService.changeSelection(url)"
  class="list-group-item list-group-item-info">
    {{url}}
  </li>
</div>
