<div *ngIf="historyService.selectedUrl;else content">
  <iframe width="504" height="378"
  [src]="historyService.selectedUrl">
  </iframe>
</div>
<ng-template #content>
  <iframe width="504" height="378"></iframe>
</ng-template>
