h1 {
  margin-left: 20px;
  margin-right: 20px;
}

#bookmark-data {
  margin-right: 15px;
}

.header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center
}

#header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 25px;
  margin-top: 25px
}

#bg-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  border-top: solid 0.5px;
}

#history {
  width: 504px;
  height: 440px;
  overflow:scroll;
}

#bookmark {
  height: 440px;
  overflow:scroll;
}

#video-menu {
  width: 504px;
}
