<div class="container-fluid">
  <div id="header">
    <div class="header-content">
      <h1>{{ title }}</h1>
      <img src="../../assets/you_tube_icon.png" alt="You tube icon" width="50">
    </div>
    <div class="header-content">
      <div id="bookmark-data"> Number of bookmark: {{ historyService.nbBookmarks }} </div>
      <button (click)="changeBookmarkFlag()"
      class="btn btn-primary">Show bookmarks</button>
    </div>
  </div>
  <div id="bg-container">
    <div id="history">
      <app-history></app-history>
    </div>
    <div id="video-menu">
      <app-search-bar></app-search-bar>
      <app-video-view></app-video-view>
    </div>
  </div>
  <div id="bookmark" *ngIf="showBookmark">
    <app-bookmarks></app-bookmarks>
  </div>
</div>
